<?xml version="1.0"?>
<robot name="asv_loyola" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Include dynamics macros -->
  <xacro:include filename="$(find yf_description)/urdf/components/asv_gps.xacro"/>
  <xacro:include filename="$(find yf_description)/urdf/components/asv_camera.xacro"/>
  <xacro:include filename="$(find yf_description)/urdf/components/asv_imu.xacro"/>
  
  <xacro:include filename="base_asv.xacro" />
  <xacro:asv_camera/>
  <xacro:asv_gps/>
  <xacro:asv_imu/>

</robot>