<?xml version="1.0"?>
<robot name="asv_loyola" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="id" default="0" />
  <xacro:arg name="own" default="false"/>
  <!-- Include dynamics macros -->
  <xacro:include filename="$(find yf_description)/urdf/components/asv_gps.xacro"/>
  <xacro:include filename="$(find yf_description)/urdf/components/asv_camera.xacro"/>
  <xacro:include filename="$(find yf_description)/urdf/components/asv_imu.xacro"/>
  <xacro:include filename="base_asv.xacro"/>
  <xacro:include filename="base_neighbor.xacro"/>

  <xacro:if value="$(arg own)">
    <xacro:base_asv name="ASV$(arg id)"/>
    <xacro:asv_camera name="ASV$(arg id)"/>
    <xacro:asv_gps name="ASV$(arg id)"/>
    <xacro:asv_imu name="ASV$(arg id)"/>
  </xacro:if>

  <xacro:unless value="$(arg own)">
    <xacro:base_asv_neighbor name="ASV$(arg id)"/>
  </xacro:unless> 

</robot>