<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="asv_imu">
    <link name="imu_link">
      <visual>
        <geometry>
          <box size="0.01 0.01 0.01" />
        </geometry>
        <material
          name="">
          <color
            rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="0.01 0.01 0.001" />
        </geometry>
      </collision>
    </link>
    <joint name="imu_joint" type="fixed">
      <origin xyz="0 0 0.14" rpy="0 0 0"/>
      <parent link="base_link"/>
      <child link="imu_link"/>
    </joint>

  </xacro:macro>
</robot>
